@import "bourbon";
@import "normalize";

.name-container {
  $sea-green: #6dd38f;
  @include size(200px 200px);
  background: $sea-green;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  outline: 1px solid $sea-green;
  margin: 20px;
  padding: 20px;
}
button { margin-left: 20px; }
